* {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.idb-nav {
  background-color: #65524D;
}
.idb-nav__brand {
  overflow: hidden;
  width: fit-content;
}
.idb-nav__title {
  font-size: 2.75rem;
  color: white;
  letter-spacing: 0.5rem;
}
.idb-nav__subtitle {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.3rem;
}
.idb-nav__button {
  background-color: #F49867;
  color: white;
  border-radius: none;
  border-style: none;
  border-color: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 15rem;
  display: flex;
  justify-content: center;
}
.idb-nav__button:hover {
  background-color: rgb(240.5582822086, 119.773006135, 55.4417177914);
  transform: scale(1.05);
}
.idb-nav__button.idb-active {
  background-color: rgb(241.590797546, 129.4411042945, 69.709202454);
}
.idb-nav__button--start {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  margin-right: 0.5rem;
}
.idb-nav__button--end {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  margin-left: 0.5rem;
}

.ib-body {
  background-color: #fcad83;
}

.idb-end {
  background-color: #65524D;
  height: 4.0625rem;
  overflow: visible;
}
.idb-end__title {
  color: white;
}
.idb-end__text {
  color: white;
}
.idb-end--close {
  letter-spacing: 0.3rem;
  height: 2.5rem;
  color: white;
}

.idb-card {
  width: fit-content;
  height: fit-content;
  background-color: #65524D;
  color: white;
  border-radius: 1.2rem;
  border-style: none;
  border-color: none;
  border-width: none;
  overflow: hidden;
}
.idb-card__image {
  object-fit: cover;
  border-radius: 1.2rem 0rem 0rem 1.2rem;
  height: 100%;
  max-width: 100%;
}
.idb-card__title {
  font-size: 1.625rem;
}
.idb-card__text {
  font-size: 1rem;
  text-align: justify;
  hyphens: auto;
}
.idb-card__button {
  background-color: #F49867;
  color: white;
  border-radius: 0.6rem;
  border-style: none;
  border-color: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.125rem;
}
.idb-card__button:hover {
  background-color: rgb(240.5582822086, 119.773006135, 55.4417177914);
  transform: scale(1.05);
}
.idb-card--alt {
  width: fit-content;
  height: fit-content;
  border-radius: 1.2rem;
  border-style: none;
  border-color: none;
  border-width: none;
  max-height: none;
}
.idb-card--alt .idb-card__image {
  height: 18rem;
}

.idb-hcard {
  width: 40rem;
  height: fit-content;
  background-color: #65524D;
  color: white;
  margin-bottom: -0.125rem;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
  border-style: none;
}
.idb-hcard__image {
  object-fit: cover;
  border-radius: 1.2rem 0rem 0rem 0rem;
  height: 100%;
  max-width: 100%;
}
.idb-hcard__title {
  font-size: 1.625rem;
}
.idb-hcard__text {
  font-size: 1rem;
}

.idb-soc-card__title {
  font-size: 0.9375rem;
  color: white;
}
.idb-soc-card__image {
  height: 1.75rem;
  width: 1.75rem;
}
.idb-soc-card__link {
  font-size: 0.9375rem;
}

/*contenido promocional limitado*/
.idb-expiring {
  width: 40rem;
  height: fit-content;
  background-color: #65524D;
  color: white;
  border-radius: 0rem 0rem 1.2rem 1.2rem;
}
.idb-expiring__header {
  font-size: 0.9375rem;
}
.idb-expiring__title {
  font-size: 1.625rem;
}
.idb-expiring__text {
  font-size: 1rem;
}
.idb-expiring__button {
  background-color: #F49867;
  color: white;
  border-radius: 0.6rem;
  border-style: none;
  border-color: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.125rem;
}
.idb-expiring__button:hover {
  background-color: rgb(240.5582822086, 119.773006135, 55.4417177914);
  transform: scale(1.05);
}

/*formularios de comentarios*/
.idb-contact--alt {
  background-color: #65524D;
  width: 40rem;
  border-radius: 0rem 0rem 1.2rem 1.2rem;
  border-top-style: groove;
  border-top-color: white;
  border-top-width: 0.0625rem;
}
.idb-contact__title {
  font-size: 1.125rem;
  color: white;
}
.idb-contact__submit {
  background-color: #F49867;
  color: white;
  border-radius: 0.6rem;
  border-style: none;
  border-color: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.125rem;
}
.idb-contact__submit:hover {
  background-color: rgb(240.5582822086, 119.773006135, 55.4417177914);
  transform: scale(1.05);
}

.idb-accordion {
  width: 40rem;
  border-top-style: groove;
  border-top-color: white;
  border-top-width: 1px;
}
.idb-accordion .accordion-button {
  box-shadow: none;
}
.idb-accordion__body {
  background-color: #65524D;
  color: white;
}
.idb-accordion__title {
  font-size: 1.625rem;
  background-color: #65524D;
  color: white;
}
.idb-accordion__text {
  font-size: 1rem;
}
.idb-accordion__action {
  background-color: #65524D;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: #65524D;
  color: white;
}

.idb-carousel {
  width: 40rem;
  height: 16.65rem;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
  overflow: hidden;
}
.idb-carousel__image {
  object-fit: cover;
  max-height: 100%;
}
.idb-carousel__header {
  background-color: #65524D;
  color: white;
}
.idb-carousel__title {
  font-size: 1.125rem;
}

.idb-map {
  width: 40rem;
  height: 40rem;
  border-style: groove;
  border-color: #65524D;
  border-width: 0.25rem;
  border-radius: 1.2rem;
}

.idb-category {
  background-color: #65524D;
  color: white;
  border-radius: 0rem 0rem 1.2rem 1.2rem;
}
.idb-category__title {
  font-size: 0.9375rem;
  letter-spacing: 0.2rem;
}

.idb-header {
  width: 40rem;
  background-color: #65524D;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
}
.idb-header__headline {
  color: white;
  font-size: large;
}

/*MEDIA QUERIES*/
@media (min-width: 576px) and (max-width: 991px) {
  .idb-nav__title {
    font-size: 2.25rem;
  }
  .idb-nav__subtitle {
    font-size: 1.25rem;
  }
  .idb-nav__button {
    font-size: 1rem;
    width: 12.5rem;
  }
  .idb-category__title {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .idb-card {
    width: 50rem;
    height: fit-content;
    max-height: none;
    margin-bottom: 1rem;
    overflow: visible;
  }
  .idb-card__image {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem 0rem 0rem 1.2rem;
  }
  .idb-card__title {
    font-size: 1.5rem;
  }
  .idb-card__text {
    font-size: 0.9375rem;
  }
  .idb-card__button {
    font-size: 1rem;
  }
  .idb-card--alt {
    width: 50rem;
  }
  .idb-card--alt .idb-card__image {
    width: 100%;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
  }
  /*horizontal autor card*/
  .idb-hcard {
    width: 50rem;
    height: fit-content;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
  .idb-hcard__image {
    height: 100%;
    border-radius: 1.2rem 0rem 0rem 1.2rem;
  }
  .idb-hcard__title {
    font-size: 1.5rem;
  }
  .idb-hcard__text {
    font-size: 0.9375rem;
  }
  .idb-carousel {
    width: 50rem;
    height: 18rem;
  }
  .idb-carousel__title {
    font-size: 1rem;
  }
  .idb-accordion {
    width: 50rem;
  }
  .idb-accordion__title {
    font-size: 1rem;
  }
  .idb-accordion__text {
    font-size: 1rem;
  }
  /*horizontal aside card*/
  .idb-expiring {
    width: 50rem;
    height: fit-content;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    margin-top: 2.5rem;
  }
  .idb-expiring__header {
    font-size: 1rem;
  }
  .idb-expiring__title {
    font-size: 1.5rem;
  }
  .idb-expiring__text {
    font-size: 0.9375rem;
  }
  .idb-expiring__button {
    font-size: 1rem;
  }
  /*horizontal location card*/
  .idb-map {
    width: 50rem;
    height: 35rem;
    margin-top: 0.5rem;
  }
  .idb-header {
    width: 50rem;
    margin-top: 1.5rem;
  }
  .idb-contact {
    margin-bottom: 1.5rem;
  }
  .idb-contact__title {
    font-size: 0.875;
  }
  .idb-contact__submit {
    font-size: 0.875;
  }
  .idb-contact--alt {
    width: 50rem;
  }
  /*footer - general*/
  .idb-end {
    height: fit-content;
    overflow: hidden;
  }
  .idb-end--close {
    font-size: 0.875;
    letter-spacing: normal;
  }
  .idb-soc-card__title {
    font-size: 0.875;
    color: white;
  }
  .idb-soc-card__image {
    height: 1.5rem;
    width: 1.5rem;
  }
  .idb-soc-card__link {
    font-size: 0.875;
  }
}
@media (max-width: 575px) {
  .idb-nav__button {
    width: 7rem;
  }
  .idb-category__title {
    font-size: 0.875rem;
    letter-spacing: normal;
  }
  .idb-card {
    width: 20rem;
    height: fit-content;
    max-height: none;
    margin-bottom: 1rem;
    overflow: visible;
  }
  .idb-card__image {
    width: 20rem;
    height: 20rem;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
  }
  .idb-card__title {
    font-size: 1.375rem;
  }
  .idb-card__text {
    font-size: 0.875rem;
  }
  .idb-card__button {
    font-size: 0.875rem;
  }
  .idb-card--alt {
    width: 20rem;
  }
  .idb-card--alt .idb-card__image {
    width: 19.9rem;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
  }
  /*horizontal autor card*/
  .idb-hcard {
    width: 20rem;
    max-height: fit-content;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
  .idb-hcard__image {
    width: 20rem;
    height: 20rem;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
  }
  .idb-hcard__title {
    font-size: 1.375rem;
  }
  .idb-hcard__text {
    font-size: 0.875rem;
  }
  .idb-carousel {
    width: 20rem;
    height: 15rem;
  }
  .idb-carousel__title {
    font-size: 0.875rem;
  }
  .idb-accordion {
    width: 20rem;
  }
  .idb-accordion__title {
    font-size: 0.875rem;
  }
  .idb-accordion__text {
    font-size: 0.875rem;
  }
  /*horizontal aside card*/
  .idb-expiring {
    width: 20rem;
    height: fit-content;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    margin-top: 2.5rem;
  }
  .idb-expiring__header {
    font-size: 0.875rem;
  }
  .idb-expiring__title {
    font-size: 1.375rem;
  }
  .idb-expiring__text {
    font-size: 0.875rem;
  }
  .idb-expiring__button {
    font-size: 0.875rem;
  }
  /*horizontal location card*/
  .idb-map {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 35rem;
  }
  .idb-header {
    margin-top: 1.5rem;
    width: 20rem;
  }
  .idb-contact {
    margin-bottom: 1.5rem;
  }
  .idb-contact__title {
    font-size: 0.8125rem;
  }
  .idb-contact__submit {
    font-size: 0.8125rem;
  }
  .idb-contact--alt {
    width: 20rem;
  }
  /*footer - general*/
  .idb-end {
    height: fit-content;
    overflow: hidden;
  }
  .idb-end--close {
    font-size: 0.8125rem;
    letter-spacing: normal;
  }
  .idb-soc-card__title {
    font-size: 0.8125rem;
    color: white;
  }
  .idb-soc-card__image {
    height: 1.5rem;
    width: 1.5rem;
  }
  .idb-soc-card__link {
    font-size: 0.8125rem;
  }
}

/*# sourceMappingURL=main.css.map */
