/* Reset */
*{
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ib-body{
    background-image: url(../assets/fondo_general\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
.ib-carousel{
    max-width: 18.6rem;
    max-height: 25.5rem;
}
/*Navbar*/
.container-fluid{
    --bs-gutter-x: 0;
}
.ib-navbar{
    background-color: #65524D;
}
.ib-title{
    font-size: xx-large;
    color: #F49867;
}
.ib-navbar-btn{
    color: #65524D;
    background-color: #F49867;
    border-radius: 4px;
}
.ib-navbar-btn:hover{
    color: #65524D;
    background-color: #fcad83;
    outline-style: none;
}
.ib-active{
    background-color: #eb8751;
}
/*Galeria*/
.ib-gallery{
    flex-wrap: wrap;
    background-color: none;
}
/* Estilo cards*/

.ib-card{
    background-color: #65524D;
    color: white;
    width: 16.5rem;
    height: 25.5rem;
    --bs-card-border-style: groove;
    --bs-card-border-color: #F49867;
    --bs-card-border-width: 2px;
    --bs-card-border-radius: 10px;
    box-shadow:2px 2px 15px 1px #0000008f;
}
.ib-card-img{
    --bs-card-inner-border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 55%;
}
.ib-card-text{
    font-size: 0.9rem;
}

.ib-btn{
    border-radius: 10px;
    color: #65524D;
    background-color: #F49867;
}
.ib-btn:hover{
    background-color: #fcad83;
    color: #65524D;
}
/* Barra de navegacion */

.ib-hcard{
    max-width: 540px;
    background-color: #65524D;
    color: white;
    --bs-card-border-style: groove;
    --bs-card-border-color: #F49867;
    --bs-card-border-width: 2px;
    --bs-card-border-radius: 10px;
    box-shadow: 2px 2px 15px 1px #0000008f;
}
.ib-carousel{
    max-width: 20rem;
    max-height: 25rem;
    border-radius: 10px;
    border-style: groove;
    border-color: #F49867;
}
.ib-ubicard{
    max-width: 65%;
}
/*Imagenes representativas - Portfolio*/
.ib-socialnet-card{
    background-color: #65524D;
}
.ib-socialnet-text{
    font-size: small;
    color: white;
}
.ib-socialnet-img{
    height: 25px;
    width: 25px;
}
.ib-btn-footer{
    background-color: #F49867;
    color: #65524D;
    border-radius: 5px;
}
.ib-btn-footer:hover{
    background-color: #eb8751;
    color: #65524D;
}
