/* reset */
*{
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*HEADER - general*/
/*navbar*/
.ib-navbar{
    background-color: #65524D;
}
.ib-title{
    font-size: xx-large;
    color: #F49867;
}
.ib-navbar-btn{
    color: #65524D;
    background-color: #F49867;
    border-radius: 4px;
}
.ib-navbar-btn:hover{
    color: #65524D;
    background-color: #fcad83;
    outline-style: none;
}
.ib-active{
    background-color: #eb8751;
}
/*BODY general*/
.ib-body{
    background-image: url(../assets/fondo_general\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
/*inicio - <main>*/
/*galeria*/
.ib-gallery{
    flex-wrap: wrap;
    background-color: none;
}
/*cards*/
.ib-card{
    background-color: #65524D;
    color: white;
    width: 16.5rem;
    height: 25.5rem;
    box-shadow:2px 2px 15px 1px #0000008f;
}
.ib-card-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 55%;
}
.ib-card-text{
    font-size: 0.9rem;
}
.ib-btn{
    border-radius: 10px;
    color: #65524D;
    background-color: #F49867;
}
.ib-btn:hover{
    background-color: #fcad83;
    color: #65524D;
}
/*sobre mi - <main>*/
/*cards*/
.ib-hcard{
    max-width: 540px;
    background-color: #65524D;
    color: white;
    --bs-card-border-style: groove;
    --bs-card-border-color: #F49867;
    --bs-card-border-width: 2px;
    box-shadow: 2px 2px 15px 1px #0000008f;
}
/*carousel*/
.ib-carousel{
    max-width: 20rem;
    max-height: 25rem;
    border-radius: 10px;
    border-style: groove;
    border-color: #F49867;
}
/*contacto - <main>*/
/*card*/
.ib-ubicard{
    max-width: 65%;
    background-color: #65524D;
    color: white;
    --bs-card-border-style: groove;
    --bs-card-border-color: #F49867;
    --bs-card-border-width: 2px;
    box-shadow:2px 2px 15px 1px #0000008f;
}
/*FOOTER - general*/
.ib-socialnet-card{
    background-color: #65524D;
}
.ib-socialnet-text{
    font-size: small;
    color: white;
}
.ib-socialnet-img{
    height: 25px;
    width: 25px;
}
.ib-btn-footer{
    background-color: #F49867;
    color: #65524D;
    border-radius: 5px;
}
.ib-btn-footer:hover{
    background-color: #fcad83;
    color: #65524D;
}
/*MEDIA QUERIES*/
@media (max-width: 768px) {
   /*RESET*/
    *{
        overflow: scroll;
    }
  }
@media (max-width: 576px) {
    /*inicio - cards*/
    .ib-card{
        width: 80%;
        margin-bottom: 10px;
    }
    /*contacto - card*/
    .ib-ubicard{
        max-width: 100%;
        height: fit-content;
    }
  }
  
