// bs -nav

.idb-nav{
    background-color: $brown;
    &__brand{
        overflow: hidden;
        width: fit-content;
    }
    &__title{
        font-size: 2.5rem;
        color: $orange;
        letter-spacing: 0.6rem;
    }
    &__slogan{
        font-size: 1rem;
        color: $orange;
        letter-spacing: 0.7rem;
    }
    &__button{
        width: 15rem;
        display: flex;
        justify-content: center;
        color: $brown;
        background-color: $orange;
        &:hover{
            color: $brown;
            background-color: $hoverorange;
            outline-style: none;
        }
        &.idb-active{
            background-color: $selectedorange;
        }
        &--start{
            border-top-left-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
            margin-right: 0.125rem;
        }
        &--end{
            border-top-right-radius: 0.6rem;
            border-bottom-right-radius: 0.6rem;
            margin-left: 0.125rem;
        }
    }
}