.idb-nav{ //bs navbar, modificada
    background-color: $primary;
    &__brand{
        overflow: hidden;
        width: fit-content;
    }
    &__title{
        font-size: map-get($txt-size, brand, desk);
        font-family: $title;
        color: $fontcolor;
        letter-spacing: 0.5rem;
    }
    &__subtitle{
        font-size: map-get($txt-size, brand-alt, desk);
        font-family: $title;
        color: $fontcolor;
        letter-spacing: 0.3rem;
    }
    &__button{
        @include btn ($tertiary, $fontcolor, none, none, none);
        font-size: map-get($txt-size, btn, desk);
        width: 15rem;
        display: flex;
        justify-content: center;
        &.idb-active{
            background-color: darken($tertiary, 7%);
        }
        &--start{
            border-top-left-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
            margin-right: 0.5rem;
        }
        &--end{
            border-top-right-radius: 0.6rem;
            border-bottom-right-radius: 0.6rem;
            margin-left: 0.5rem;
        }
    }
}