// bs -nav

.ib-nav{
    background-color: $brown;
    h1{
        font-size: xx-large;
        color: $orange;
        overflow: hidden;
    }
    a{
        color: $brown;
        background-color: $orange;
        border-radius: 4px;
        &:hover{
            color: $brown;
            background-color: $hoverorange;
            outline-style: none;
        }
        &.ib-active{
            background-color: $selectedorange;
        }
    }
}