/*contenido promocional limitado*/
.idb-expiring{
    @include sizing (40rem, fit-content);
    @include palette ($brown, white);
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    &__header{
        font-size: map-get($txt-size, secondary, desk);   
    }
    &__title{
        font-size: map-get($txt-size, card-ttl, desk);
    }
    &__text{
        font-size: map-get($txt-size, card, desk);
    }
    &__button{
        @include btn ($orange, white, 0.6rem, none, none);
        font-size: map-get($txt-size, base, desk);
    }
}