.idb-card{
    @include card (37rem, 16rem);
    overflow: hidden;
    border-radius: 1.2rem;
    &__image{
        min-height: 16rem;
        object-fit: cover;
    }
    &__text{
        font-size: map-get($txt, md);
    }
    &__button{
        border-radius: 0.6rem;
        color: $brown;
        background-color: $orange;
        &:hover{
            background-color: $hoverorange;
            color: $brown;
        }
    }
    &--alt{
        @include card (fit-content, fit-content);
        border-style: groove;
        border-color: $brown;
        border-width: 0.1rem;
        border-radius: 1.2rem;
        .idb-card__image{
            height: 12rem;
        }
    }
}