.idb-card{
    @include card (fit-content, fit-content);
    max-height: 25rem;
    overflow: hidden;
    border-radius: 1.2rem;
    border-color: $brown;
    border-width: 0.1rem;
    &__image{
        object-fit: cover;
        border-radius: 1.2rem 0rem 0rem 1.2rem;
        height: 100%;
        max-width: 100%;
    }
    &__title{
        font-size: map-get($ttl, xxs);
    }
    &__text{
        font-size: map-get($txt, md);
        text-align: justify;
        hyphens: auto;
    }
    &__button{
        font-size: map-get($txt, md);
        border-radius: 0.6rem;
        color: $brown;
        background-color: $orange;
        &:hover{
            background-color: $hoverorange;
            color: $brown;
        }
    }
    &--alt{
        @include card (fit-content, fit-content);
        max-height: none;
        border-style: groove;
        border-color: $brown;
        border-width: 0.1rem;
        border-radius: 1.2rem;
        .idb-card__image{
            height: 18rem;
        }
    }
}