.idb-soc-card{
    &__title{
        font-size: map-get($ttl, xxs);
        color: white;
    }
    &__image{
        height: 1.75rem;
        width: 1.75rem;
    }
    &__link{
        font-size: map-get($txt, md);
    }
}