.idb-soc-card{
    &__title{
        font-size: medium;
        color: white;
    }
    &__text{
        font-size: map-get($txt, md);
        color: white;
    }
    &__image{
        height: 1.75rem;
        width: 1.75rem;
    }
    &__link{
        font-size: 0.9rem;
    }
}