div .ib-titlecard{
    width: 530px;
    background-color: $brown;
    h2{
        color: white;
        font-size: large;
    }
}
div .ib-titlecard-alt{
    width: 530px;
    background-color: $brown;
    h2{
        color: white;
        font-size: large;
    }
}