.idb-category{
    background-color: $brown;
    color: white;
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    &__title{
        font-size: map-get($ttl, xxs);
        letter-spacing: 0.2rem;
    }
}
.idb-gtext{
    font-size: medium;
    color: black;
}
.idb-header{
    width: 40rem;
    background-color: $brown;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    &__headline{
        color: white;
        font-size: large;
    }
}