.idb-title{
    font-size: xx-large;
    color: black;
}
.idb-gtext{
    font-size: medium;
    color: black;
}
div .idb-titles{
    width: 33rem;
    background-color: $brown;
    &__headline{
        color: white;
        font-size: large;
    }
    &--alt{
        border-radius: 1.2rem 1.2rem 0rem 0rem;
    }
}