.idb-accordion{
    width: 33rem;
    border-top-style: groove;
    border-top-color: white;
    border-top-width: 1px;
    .accordion-button{
        box-shadow: none;
    }
    &__body{
        background-color: $brown;
        color: white;
    }
    &__title{
        background-color: $brown;
        color: white;
    }
    &__action{
        background-color: $brown;
        color: white;
    }
}
.accordion-button:not(.collapsed){
    background-color: $brown;
    color: white;
}