.idb-accordion{
    width: 40rem;
    border-top-style: groove;
    border-top-color: white;
    border-top-width: 1px;
    .accordion-button{
        box-shadow: none;
    }
    &__body{
        background-color: $brown;
        color: white;
    }
    &__title{
        font-size: map-get($ttl, sm);
        background-color: $brown;
        color: white;
    }
    &__text{
        font-size: map-get($txt, md);
    }
    &__action{
        background-color: $brown;
        color: white;
    }
}
.accordion-button:not(.collapsed){
    background-color: $brown;
    color: white;
}