.idb-carousel{ //bs carousel, modificado
    @include sizing (40rem, 16.5rem);
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    overflow: hidden;
    &__image{
        object-fit: cover;
        height: 100%;
        min-height: 16.5rem;
    }
    &__header{
        @include palette ($primary, $fontcolor);
    }
    &__title{
        font-size: map-get($txt-size, base, desk);
    }
}