.idb-carousel{
    max-width: 33rem;
    max-height: 238px;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    overflow: hidden;
    div.ib-titlecard{
        background-color: $brown;
    }
    &__image{
        object-fit: cover;
    }
    &__title{
        color: white;
        font-size: medium;
    }
}