.idb-carousel{ //bs carousel, modificado
    @include sizing (40rem, 16.65rem);
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    overflow: hidden;
    &__image{
        object-fit: cover;
        max-height: 100%;
    }
    &__header{
        @include palette ($brown, white);
    }
    &__title{
        font-size: map-get($txt-size, base, desk);
    }
}