/*formularios de comentarios*/
.idb-contact{
    &--alt{ //formulario especial para la seccion "contacto"
        background-color: $primary;
        width: 40rem;
        border-radius: 0rem 0rem 1.2rem 1.2rem;
        border-top-style: groove;
        border-top-color: white;
        border-top-width: 0.0625rem;
    }
    &__title{
        font-size: map-get($txt-size, base, desk);
        color: $fontcolor;
    }
    &__submit{
        @include btn ($tertiary, $fontcolor, 0.6rem, none, none);
        font-size: map-get($txt-size, base, desk);
    }

}
