.idb-category{ //titulo de seccion de pagina
    @include palette ($primary, $fontcolor);
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    &__title{
        font-size: map-get($txt-size, secondary, desk);
        letter-spacing: 0.2rem;
    }
}
.idb-header{ //header de componentes
    width: 40rem;
    background-color: $primary;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    &__headline{
        color: $fontcolor;
        font-size: large;
    }
}