/*MEDIA QUERIES*/
@media (max-width: 768px) and (min-width: 577px) {
    /*RESET*/
     *{
         overflow-y: visible;
     }
     /*product card*/
     .idb-card{
         width: 20rem;
         height: fit-content;
         margin-bottom: 1rem;
         overflow: visible;
         &__img{
            width: 100%;
            height: 16rem;
            border-radius: 0,3rem;
        }
     }
     /*horizontal autor card*/
     .ib-hcard{
         max-width: 20rem;
         max-height: fit-content;
     }
     /*horizontal aside card*/
     .idb-expiring{
        @include card (20rem, fit-content);
     }
     /*horizontal location card*/
     .idb-map{
        width: 20rem; 
     }
     /*footer - general*/
     .idb-end{
         max-height: fit-content;
         overflow-y: visible;
     }
     .idb-contact div{
         width: fit-content;
     }
     .ib-form-alt div{
         width: 75%;
     }
     /*general components*/
     .idb-accordion{
         width: 22rem;
     }
     /*specialiced title card*/
     div .ib-titlecard{
         display: flex;
         justify-content: center;
         width: 75%;
     }
     .ib-titlecard-alt{
         max-width: 100%;
     }
    }
 @media (max-width: 576px) {
     /*product card*/
     .idb-nav{
        &__brand{
            font-size: larger;
        }
        &__button{
            width: 7rem;
        }
     }
     .idb-card{
        width: 20rem;
        height: fit-content;
        margin-bottom: 1rem;
        overflow: visible;
        &__img{
           width: 100%;
           height: 16rem;
           border-radius: 0,3rem;
       }
    }
    /*horizontal autor card*/
    .ib-hcard{
        max-width: 20rem;
        max-height: fit-content;
    }
    /*horizontal aside card*/
    .idb-expiring{
       @include card (20rem, fit-content);
    }
    /*horizontal location card*/
    .idb-map{
       width: 20rem; 
    }
    /*footer - general*/
    .idb-end{
        height: fit-content;
        overflow: visible;
    }
    div .idb-contact{
         width: 22rem;
         &--alt{
            background-color: $brown;
            width: 22rem;
        }
     }
     .idb-form-alt div{
         width: 94%;
     }
     /*general components*/
     .idb-accordion{
         width: 22rem;
     }
     /*specialiced title card*/
     div .idb-titles{
         display: flex;
         justify-content: center;
         width: 22rem;
         &--alt{
            width: 22rem;
         }
     }
 }