/*MEDIA QUERIES*/
@media (min-width: 576px) and (max-width: 991px) {
    .idb-nav{
        &__title{
        font-size: map-get($txt-size, brand, tablet);
        }
        &__subtitle{
            font-size: map-get($txt-size, brand-alt, tablet);
        }
        &__button{
            font-size: map-get($txt-size, base, tablet);
            width: 12.5rem;
        }
    }
    .idb-category{
        &__title{
            font-size: map-get($txt-size, base, tablet);
            letter-spacing: 0.1rem;
        }
    }
    .idb-card{
        @include sizing (50rem, fit-content);
        max-height: none;
        margin-bottom: 1rem;
        overflow: visible;
        &__image{
           width: 100%;
           height: 100%;
           border-radius: 1.2rem 0rem 0rem 1.2rem;
        }
        &__title{
            font-size: map-get($txt-size, card-ttl, tablet);
        }
        &__text{
            font-size: map-get($txt-size, card, tablet);
        }
        &__button{
            font-size: map-get($txt-size, base, tablet);
        }
        &--alt{
            width: 50rem;
            .idb-card__image{
                width: 100%;
                border-radius: 1.2rem 1.2rem 0rem 0rem;
            }
        }
    }
    /*horizontal autor card*/
    .idb-hcard{
        @include sizing (50rem, fit-content);
        border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
        &__image{
            height: 100%;
            border-radius: 1.2rem 0rem 0rem 1.2rem;
        }
        &__title{
            font-size: map-get($txt-size, card-ttl, tablet);
        }
        &__text{
            font-size: map-get($txt-size, card, tablet);
        }
    }
    .idb-carousel{
        width: 50rem;
        height: 18rem;
        &__title{
            font-size: map-get($txt-size, base, tablet);
        }
    }
    .idb-accordion{
        width: 50rem;
        &__title{
            font-size: map-get($txt-size, base, tablet);
        }
        &__text{
            font-size: map-get($txt-size, base, tablet);
        }
    }
    /*horizontal aside card*/
    .idb-expiring{
       @include sizing (50rem, fit-content);
       border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
       margin-top: 2.5rem;
       &__header{
         font-size: map-get($txt-size, base, tablet);   
        }
        &__title{
            font-size: map-get($txt-size, card-ttl, tablet);
        }
        &__text{
            font-size: map-get($txt-size, card, tablet);
        }
        &__button{
            font-size: map-get($txt-size, base, tablet);
        }
    }
    /*horizontal location card*/
    .idb-map{
       width: 50rem; 
       height: 35rem;
    }
    .idb-header{
        width: 50rem;
        margin-top: 1.5rem;
    }
    .idb-contact{
        margin-bottom: 1.5rem;
        &__title{
            font-size: map-get($txt-size, secondary, tablet);
        }
        &__submit{
            font-size: map-get($txt-size, secondary, tablet);
        }
        &--alt{
            width: 50rem;
        }
    }
    /*footer - general*/
    .idb-end{
        height: fit-content;
        overflow: hidden;
        &--close{
            font-size: map-get($txt-size, secondary, tablet);
            letter-spacing: normal;
        }
    }
    .idb-soc-card{
        &__title{
            font-size: map-get($txt-size, secondary, tablet);
        }
        &__image{
            height: 1.5rem;
            width: 1.5rem;
        }
        &__link{
            font-size: map-get($txt-size, secondary, tablet);
        }
    }

}
@media (max-width: 575px) {
    .idb-nav{
        &__brand{
        font-size: map-get($txt-size, xs);
        }
        &__subtitle{
            font-size: map-get($txt-size, xxs);
        }
        &__button{
            font-size: map-get($txt-size, xs);
            width: 7rem;
        }
    }
    .idb-category{
        &__title{
            font-size: map-get($txt-size, base, mobile);
            letter-spacing: normal;
        }
    }
    .idb-card{
        width: 20rem;
        height: fit-content;
        max-height: none;
        margin-bottom: 1rem;
        overflow: visible;
        &__image{
           width: 20rem;
           height: 20rem;
           border-radius: 1.2rem 1.2rem 0rem 0rem;
        }
         &__title{
            font-size: map-get($txt-size, card-ttl, mobile);
        }
        &__text{
            font-size: map-get($txt-size, card, mobile);
        }
        &__button{
            font-size: map-get($txt-size, base, mobile);
        }
        &--alt{
            width: 20rem;
            .idb-card__image{
                width: 20rem;
                border-radius: 1.2rem 1.2rem 0rem 0rem;
            }
        }
    }
    /*horizontal autor card*/
    .idb-hcard{
        width: 20rem;
        max-height: fit-content;
        border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
        &__image{
            width: 20rem;
            height: 20rem;
            border-radius: 1.2rem 1.2rem 0rem 0rem;
        }
        &__title{
            font-size: map-get($txt-size, card-ttl, mobile);
        }
        &__text{
            font-size: map-get($txt-size, card, mobile);
        }
    }
    .idb-carousel{
        width: 20rem;
        height: 15rem;
        &__title{
            font-size: map-get($txt-size, base, mobile);
        }
    }
    .idb-accordion{
        width: 20rem;
        &__title{
            font-size: map-get($txt-size, card, mobile);
        }
        &__text{
            font-size: map-get($txt-size, card, mobile);
        }
    }
    /*horizontal aside card*/
    .idb-expiring{
       @include sizing (20rem, fit-content);
       border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
       margin-top: 2.5rem;
       &__header{
         font-size: map-get($txt-size, base, mobile);   
        }
        &__title{
            font-size: map-get($txt-size, card-ttl, mobile);
        }
        &__text{
            font-size: map-get($txt-size, card, mobile);
        }
        &__button{
            font-size: map-get($txt-size, base, mobile);
        }
    }
    /*horizontal location card*/
    .idb-map{
        margin-bottom: 1rem;
        width: 20rem; 
        height: 35rem;
    }
    .idb-header{
        margin-top: 1.5rem;
        width: 20rem;
    }
    .idb-contact{
        margin-bottom: 1.5rem;
        &__title{
            font-size: map-get($txt-size, secondary, mobile);
        }
        &__submit{
            font-size: map-get($txt-size, secondary, mobile);
        }
        &--alt{
            width: 20rem;
        }
    }
    /*footer - general*/
    .idb-end{
        height: fit-content;
        overflow: hidden;
        &--close{
            font-size: map-get($txt-size, secondary, mobile);
            letter-spacing: normal;
        }
    }
    .idb-soc-card{
        &__title{
            font-size: map-get($txt-size, secondary, mobile);
        }
        &__image{
            height: 1.5rem;
            width: 1.5rem;
        }
        &__link{
            font-size: map-get($txt-size, secondary, mobile);
        }
    }
}