$gfont: "Lora", serif;
$ttl: (
    xl: 3rem,
    lg: 2.5rem,
    md: 2.25rem,
    sm: 2rem,
    xs: 1.5rem,
    xxs: 1.25rem,
    xxxs: 1.20rem
);
$txt: (
    md: 1.125rem,
    sm: 1rem,
    xs: 0.875rem,
    xxs: 0.75rem,
    xxxs: 0.65rem
);